{% extends "base.html" %}
{% block content %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><p><strong>Understanding U.S Wildfire Behavior</strong></p></h1>
<p>MIDS W209 Fall 2022 Final Project</p>

<img src="../images/wildfire.jpeg" alt="wildfire">

<p><br/></p>



<h2>The Project Vision</h2>

<p>In this project, we hope to enlighten the general public to the behaviors and environmental issues that affect wildfires in the US, specifically focusing on Western “hot spot” states that are more heavily affected. Through the course of our project, we aim to address the following questions:</p>

<ol start="1" type="1" > <li>How do wildfires affects different areas of the United States on a Regional-level and how has it changed over time?</li>
 </ol><ol start="2" type="1" > <li>Does the annual cycle of seasons more heavily affect different patterns in wildfires?</li>
 </ol><ol start="3" type="1" > <li>Are wildfire fighting efforts working overall? How well are they working over time?</li>
 </ol><ol start="4" type="1" > <li>What trends are there in areas with multiple wildfires and how are they affecting one another?</li>
 </ol> <hr /> <h2>The Dataset</h2>

<p><footer  ></footer></p>

<p>The data we are using comes from the national Fire Program Analysis (FPA) system, which ran from 1992 to 2015 before being shut down. This dataset contains 1.88 Million Records of United States Wildfires across all 50 states and includes features such as:<br>
 * Fire Metadata<br>
 * Fire Burn Timestamps<br>
 * Fire Centerpoint Geolocations<br>
 * Post-fire Reason Coding
</p>

</body>
</html>




{% endblock %}